extends layout

block content
  .container
    #main-view
      h6 LIVECOMMENT [
        h2 Hello world!
      h6 LIVECOMMENT ]

      h6 ports [
        h6 HTTP: #{config.port}
        h6 WS: #{config.ws_port}
        h6 WS_CLIENT: #{config.ws_port_client || config.ws_port}
      h6 ports ]
